{%extends 'parent.html' %}

{%block content%}
<div class="container my-4 bg-dark p-4 " style="color:white;border-radius: 10px;">
  <h1>Create Project</h1> 
  <form method="post" enctype="multipart/form-data">
<!-- id,title,details,category,target,start_date,end_date,owener_email,total_rate,repor_count -->
      <!-- Title -->
      {%csrf_token%}
      <div class="mb-3">
        <label for="projectTitle" class="form-label">Project Title</label>
        <input type="text" name="title" required class="form-control" id="projectTitle" aria-describedby="emailHelp">
      </div>

      <!-- Details -->
      <div class="mb-3">
        <label for="Details" class="form-label">Details</label>
        <input type="text" name="details" required class="form-control" id="Details" aria-describedby="emailHelp">
      </div>

      <!-- Category -->
      <div class="mb-3">
          <label for="Details" class="form-label">Category</label>
          <select name="get_category" id="">
            {%for category in allCategory%}
              <option value={{category.name}}>{{category.name}}</option>
            {%endfor%}
          </select>
          
          
      </div>
      <!-- Tag -->
      <div class="mb-3">
        <label for="Details" class="form-label">Tag</label>
        <input type="text" name="tag" required class="form-control" id="Details" aria-describedby="emailHelp">    
    </div>
      <!-- Target -->
      <div class="mb-3">
        <label for="Target" class="form-label">Target</label>
        <input type="number" name="target" required class="form-control" id="Target" aria-describedby="emailHelp">
      </div>

      <!-- Start_date -->
      <div class="mb-3">
        <label for="Start_date" class="form-label">Start Date</label>
        <input type="date" name="start_date" required class="form-control" id="Start_date" aria-describedby="emailHelp">
      </div>

      <!-- End_date -->
      <div class="mb-3">
        <label for="End_date" class="form-label">End Date</label>
        <input type="date" name="end_date" required class="form-control" id="End_date" aria-describedby="emailHelp">
        <div id="email_help" class="form-text text-danger">{% if end_err_msg %} {{ end_err_msg }} {%else%} {% endif %}</div>

      </div>

      <!-- image -->
      <div class="mb-3">
        <label for="project_image" class="form-label">Add image</label>
        <input type="file" name="image" required class="form-control" id="project_image" multiple >
      </div>
      
      
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
{%endblock%}