{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0-dist/css/bootstrap.min.css' %}">
    <title>Crowd Fund</title>
</head>
<body style="background-color: rgb(165, 164, 164);">
    <header class="" style="background-color: rgb(58, 58, 59);color: white;">
        <!-- this is navBar -->
        <div class="container ">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand text-light mx-5" href="{%url 'myHome'  %}">Home</a>
               
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link text-light mx-5" href="{%url 'allprojects'  %}">Projects </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-light mx-5" href="{%url 'UserInfo'  %}">myProfile</a>
                    </li>
                    
                    
                  </ul>
                  <form class="d-flex" role="search" method="POST" style="padding: 2%;">
                    {% csrf_token %}
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Search"
                      aria-label="Search"
                      name="search"
                    />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
                {% if "username" in request.session %}
                <a class="nav-link btn btn-info text-danger" 
                  href="{%url 'Logout'  %}">
                  Log Out
                </a>
                {% else %}
                <a class="nav-link  nav-link btn btn-info text-primary mx-3" href="{%url 'Registeration'  %}">Register</a>

                <a class="nav-link btn btn-info text-danger" 
                  href="{%url 'Login'  %}">
                  Log in
                </a>
                {% endif %}
              </nav>    
        </div>
    </header>
    <div class="container bg-secondary">
        
      </div>
    {%block content%}
    {%endblock%}  

    <script src="{% static 'bootstrap-5.3.0-dist/js/bootstrap.min.js' %}"></script>

</body>
</html>