{%extends 'parent.html' %}
{%block content%}
    <div class="container  my-5 p-5 d-flex flex-wrap justify-content-center " style="background-color: rgb(78, 77, 75);">
        {%for project in allProject%}
        <div class="card m-2 p-3" style="width: 18rem; background-color: antiquewhite;">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.details}}</p>
              <span >{{project.owner_id}} </span>
              <br>
              <span >{{project.target}}</span>
              <br>
              <a class="btn btn-info text-dark " href="{%url 'displayProject' project.id %}">View</a>
            </div>
          </div>
          {%endfor%}
    </div>
{%endblock%}